<li class="collection-item">
	<h6>{{burger_name}}</h6>
	<span class="item-btn-container">
		<button class="change-devour btn" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}Another!{{else}}Devour it!{{/if}}
		</button>

		<button class="delete-burger btn" data-id="{{this.id}}">Remove</button>
	</span>
</li>
